:root {
    --selection-item-border-color: rgb(199, 199, 199);
    --selection-group-border-color: rgb(248, 248, 248);
    --selection-group-background-color:rgb(98, 238, 248);
    --group-button-color: #444857;
    --item-button-color: #848b9e;
    --item-border-color: rgb(0, 88, 88);
    --item-image-background-color: rgb(66, 66, 66);
    --box-shadow-one: rgb(85, 85, 85);
    --box-shadow-two: rgb(44, 44, 44);
    --group-header-background-color: rgb(122, 122, 122);
    --group-header-font-color: #ececec;
    --group-data-background-color: rgb(109, 109, 109);
    --group-data-font-color: #f1f1f1;
    --nav-bar-color: #010101;
    --nav-bar-button-color:#444857;
    --modal-border-color: #4d4d4d;
    --modal-font-color: #292929;
    --group-description-background-color: rgb(51, 51, 51);
    --group-description-font-color: rgb(212, 212, 212);
    --group-focus-border-color:rgba(131, 255, 158, 0.966);
    --iframe-border-color:rgba(0, 132, 255, 0.966);
    --iframe-background-color:rgba(255, 255, 255, 0.966);
}

html, body {
    height:100%;
    width: 100%;
    margin:0;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    background-color: #1c1c1c;
    color: #ececec;
}

button {
  margin: 10px 5px;
  width: 70px;
  height: 30px;
  border: 0;
  background-color: var(--group-button-color);
  box-shadow: 0 2px 4px rgba(0,0,0,2.5);
  color: #fff;
  border-radius: 7px;
}

/*copied from https://www.cssfontstack.com*/
h1 { font-family: Futura, "Trebuchet MS", Arial, sans-serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } h3 { font-family: Futura, "Trebuchet MS", Arial, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: Futura, "Trebuchet MS", Arial, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: Futura, "Trebuchet MS", Arial, sans-serif; font-size: 17.5px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 25px; } pre { font-family: Futura, "Trebuchet MS", Arial, sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }

/*---------class----------*/

.item-display{
    display: flex;
    flex-direction: column;
    /* border: 2px solid rgb(111, 112, 112); */
    border: 4px solid var(--item-border-color);
    border-radius: 6%;
    height: 400px;
    width: 250px;
    margin: 10px;
}

.item-display:hover{
    border: 4px solid var(--selection-item-border-color);
    margin: 10px;
}


.item-display:focus-within{
    border: 4px solid var(--selection-item-border-color);
    box-shadow:3px 3px 5px var(--box-shadow-one), 10px 10px 7px var(--box-shadow-two);
}

.item-name{
    margin: 5px;
    text-align: center;
    height: 20px;
}

.item-img{
    height: 250px;
    width: 250px;
    background-color: var(--item-image-background-color);
    object-fit: fill;
}

.item-top-table{
    height: 85px;
}

.key-value-table{
    font-size: 13px;
    text-align: left;
}

.item-description{
    text-align:justify;
    vertical-align: text-top;
    text-overflow: clip;
}

.group-container{
    display: flex;
    flex-direction: column;
    transition: tansform 0.3s ease-in-out;
}
.group-container.focus-within{
    border: var(--group-focus-border-color);
}

.group-data-content{
    display: flex;
    margin: 5px 5px;
    height: 30px;
    flex-direction: row;
    align-content:space-around;
    background-color: var(--group-data-background-color);
    color:var(--group-data-font-color);
    border-radius: 6px;
}

.group-content{
    display: flex;
    flex-direction: column;
}

.group-content.minimized{
    max-height: 0;
    overflow: hidden;
}

.group-data-description{
    margin: 5px 5px;
    height: auto;
    border-radius: 6px;
    background-color: var(--group-description-background-color);
    color:var(--group-description-font-color);
}
.group-data-content.selected{
    border: 4px solid var(--selection-group-border-color);
}

.group-data-field{
    margin: 5px 5px;
    text-align: center;
}

.group-expand-button {
    width: 28px;
    height: 25px;
    margin: 2px 2px;
}

.group-action{
    margin: 5px 5px;
    margin: 5px 5px;
    background-color: var(--group-button-color);
}

.item-action{
    margin: 5px 5px;
    width: 25px;
    background-color: var(--item-button-color);
}

.group-display-header{
    margin: 5px 5px;
    height: 42px;
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: var(--group-header-background-color);
    color: var(--group-header-font-color);
    border-radius: 6px;
}

.items-grid{
    display: flex;
    flex: 1 1 auto;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: content;
    position: relative;
}

.nav-bar-button{
    margin: 5px;
    height: 20px;
    background-color: var(--nav-bar-button-color);
}

.button-icon {
    
}

.item-display-action {
    position: relative;
    width: 30px;
    height: 30px;
}

.iframe-action{
    position: relative;
    width: 20px;
    height: 20px;
}

.item-button-container {
  display: flex;
  flex-direction: row-reverse;
  align-items:right;
}

.item-header-row{
    text-align: left;
}

/*----------id----------*/
#base-container{
    display: flex;
    flex-flow:column;
    height: 100%;
}

/* #image-modal-upload-container.show{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    pointer-events: auto;
    border:var(--iframe-border-color);
    background-color: var(--iframe-background-color);
}

#image-modal-upload-container {
    display: none;
    color: var(--modal-font-color);
    align-items:center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    border-radius: 7px;
} */

#image-upload-container.show {
    pointer-events: auto;
    opacity: 1;
    z-index: 1001;
}

#item-image-slideshow{
    display: flex;
    height: 70%;
    width: 100%;

}

#item-slideshow-button-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

#slideshow-left-button,
#slideshow-right-button
{
    width: 25px;
}

/* #slideshow-left-button:hover,
#slideshow-right-button:hover
{
    background-color: rgba(0, 0, 0, 0.8);
} */

/* #iframe-container.show{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    pointer-events: auto;
    border:var(--iframe-border-color);
    background-color: var(--iframe-background-color);
}

#iframe-container {
    display: none;
    color: var(--modal-font-color);
    align-items:center;
    justify-content: center;
    position: fixed;
    top: 25%;
    left: 25%;
    height: 50%;
    width: 50%;
    pointer-events: none;
    border-radius: 7px;
}

#iframe-button-header{
    width: 90%;
    display: flex;
    align-items: right;
    justify-content: right;
}
#iframe-forms {
    opacity: 1;
    height: 90%;
    width: 90%;
} */
#nav-bar{
    display: flex;
    flex:0 1 auto;
    background-color: var(--nav-bar-color);
    position: relative;
    margin: 3px;
    height: 50px;
}



#content-container{
    display: flex;
    flex: 1 1 auto;
    flex-flow: row;
    position: relative;
    margin: 3px;

}

#groups-container{
    display: flex;
    flex: 1 1 85%;
    flex-flow: column;
    position: relative;
    height: 100%;

}

#avatar-container{
    display: flex;
    flex-flow: column;
    flex: 0 1 350px;
    position: static;
    height: 100%;
}

#groups-header{
    display: flex;
    justify-content: left;
}


#items-header{

}

#items-body{

}



#avatar-animation{
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
}

#stats-header{
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
}

#stats-body{
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
}

/* modal css */

.modal-container {
  display: "none";
  color: var(--modal-font-color);
  background-color: rgba(0,0,0,0.3);
  display: flex;
  align-items:center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.15s ease;
}

.modal-container.show {
    pointer-events: auto;
    opacity: 1;
}

.modal-content {
  background-color: #fff;
  padding: 40px 50px;
  width: 600px;
  border-radius: 25px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
}

.modal-header {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-content:space-around;
}

#group-input-description {
  height: 100px;
  width: 100%;
}

.modal-button-container {
  display: flex;
  flex-direction: row-reverse;
  align-items:right;
}


/* .modal-action {
  margin: 10px 5px;
  width: 70px;
  height: 30px;
  border: 0;
  background-color: #47b186;
  box-shadow: 0 2px 4px rgba(0,0,0,2.5);
  color: #fff;
  border-radius: 7px;
} */

.modal-input {
    border: 1px solid var(--modal-border-color);
    border-radius: 3px;
    padding: 5px;
    width: 100%;
}

.modal-textarea{
    border: 1px solid var(--modal-border-color);
    border-radius: 3px;
    padding: 5px;
    width: 100%;
    height: 80px;
    overflow-y: scroll;
}

.modal-input-header {
  padding: 0px;
  margin: 15px 5px;
}