:root {
    /* COLOR VARIABLES */
    
    /* item */
    --selection-item-border-color: rgb(199, 199, 199);
    --item-button-color: #8f8f8f;
    --item-border-color: rgb(0, 71, 71);
    --item-image-background-color: rgb(15, 15, 15);
    --item-background-color: #1c1c1c;
    --box-shadow-one: rgb(117, 117, 117);
    --box-shadow-two: rgb(44, 44, 44);

    /* group */
    --group-button-color: #8f8f8f;
    --group-header-background-color: rgb(43, 43, 43);
    --group-header-font-color: #ececec;
    --group-data-background-color: rgb(73, 73, 73);
    --group-data-font-color: #f1f1f1;
    --group-description-background-color: rgb(95, 95, 95);
    --group-description-font-color: rgb(212, 212, 212);
    --group-focus-border-color:rgba(131, 255, 158, 0.966);
    --selection-group-border-color: rgb(248, 248, 248);
    --selection-group-background-color:rgb(98, 238, 248);

    /* nav */
    --nav-bar-color: #010101;
    --nav-bar-button-color:#444857;

    /* modal */
    --modal-border-color: #4d4d4d;
    --modal-font-color: #f5f5f5;
    --modal-content-background-color:rgb(61, 61, 61);
    --modal-content-border-color:rgb(187, 187, 187);
    --modal-container-background-color:rgb(54, 54, 54);
    --modal-textarea-background-color:rgb(49, 49, 49);
    --modal-textarea-font-color:rgb(230, 230, 230);
    --modal-input-background-color:rgb(49, 49, 49);
    --modal-input-font-color:rgb(230, 230, 230);

    /* notification */
    --notification-background-color: rgb(66, 66, 66);
    --notification-font-color: rgb(255, 255, 255);
    --notification-warning-font-color: rgb(255, 251, 39);
    --notification-error-font-color: rgb(255, 0, 0);
    --notification-ok-font-color: rgb(21, 255, 0);

    /* scroll bar */
     --scroll-bar-thumb-color: rgb(187, 187, 187);
     --scroll-bar-background-color:rgb(54, 54, 54);

    /* note */
    --note-button-color:#8f8f8f;
    --note-container-background-color:rgb(215, 255, 139);
    --note-container-font-color:rgb(0, 0, 0);
    --note-header-background-color:rgb(255, 220, 67);
    --note-selected-border-color:rgba(83, 195, 255, 1);
}

html, body {
    height:100%;
    width: 100%;
    margin:0;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    background-color: #181818;
    color: #ececec;
}

/* default button css */
button {
  margin: 10px 5px;
  padding: 0;
  width: 70px;
  height: 30px;
  border: 0;
  background-color: var(--group-button-color);
  box-shadow: 0 2px 4px rgba(0,0,0,2.5);
  color: #fff;
  border-radius: 7px;
}

/*copied from https://www.cssfontstack.com*/
h1 { font-family: Futura, "Trebuchet MS", Arial, sans-serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } h3 { font-family: Futura, "Trebuchet MS", Arial, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: Futura, "Trebuchet MS", Arial, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: Futura, "Trebuchet MS", Arial, sans-serif; font-size: 17.5px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 25px; } pre { font-family: Futura, "Trebuchet MS", Arial, sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }

/*---------class----------*/

.header {
    margin: 5px;
}

.item-display{
    display: flex;
    flex-direction: column;
    /* border: 2px solid rgb(111, 112, 112); */
    border: 4px solid var(--item-border-color);
    border-radius: 6%;
    height: 370px;
    width: 240px;
    margin: 10px;
    background-color: var(--item-background-color);
}

.item-display:hover{
    border: 4px solid var(--selection-item-border-color);
    margin: 10px;
}


.item-display.selected{
    border: 4px solid var(--selection-item-border-color);
    box-shadow:3px 3px 5px var(--box-shadow-one), 10px 10px 7px var(--box-shadow-two);
}

.item-name{
    margin: 5px;
    text-align: center;
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
}

.item-img-container{
    width: 240px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-img{
    width: 240px;
    height: 240px;
    background-color: var(--item-image-background-color);
    object-fit:contain;
}

.item-img-large{
    width: 800px;
    height: 600px;
    background-color: var(--item-image-background-color);
    object-fit:scale-down;
}

.item-top-table{
    display: flex;
    max-height: 85px;
}

.key-value-table{
    font-size: 13px;
    text-align: left;
    max-height: 85px;
}

table td, table th {
  vertical-align: top;
}
.item-description{
    display: inline-block;
    overflow: hidden;
    height: 85px;
    padding: 0;
    margin: 0;
    vertical-align: top;


}

.group-container{
    display: flex;
    flex-direction: column;
    transition: tansform 0.3s ease-in-out;
}
.group-container.focus-within{
    border: var(--group-focus-border-color);
}

.group-data-content{
    display: flex;
    margin: 5px 5px;
    height: 30px;
    flex-direction: row;
    align-content:space-around;
    background-color: var(--group-data-background-color);
    color:var(--group-data-font-color);
    border-radius: 6px;
}

.group-content{
    display: flex;
    flex-direction: column;
}

.group-content.collapsed{
    max-height: 0;
    overflow: hidden;
}

.group-data-description{
    margin: 5px 5px;
    height: auto;
    border-radius: 5px;
    background-color: var(--group-description-background-color);
    color:var(--group-description-font-color);
    padding: 5px;
    margin: 2px 5px 2px 5px;
}
.group-data-content.selected{
    border: 4px solid var(--selection-group-border-color);
}

.group-data-field{
    margin: 5px 5px;
    text-align: center;
}

.group-expand-button {
    width: 28px;
    height: 25px;
    margin: 2px 2px;
}

.group-action{
    margin: 5px 5px;
    margin: 5px 5px;
    background-color: var(--group-button-color);
}

.item-action{
    margin: 5px 5px;
    width: 25px;
    background-color: var(--item-button-color);
}

.note-action{
    margin: 5px 5px;
    margin: 5px 5px;
    width: 25px;
    background-color: var(--note-button-color);
}

.group-display-header{
    margin: 5px 5px;
    height: 42px;
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: var(--group-header-background-color);
    color: var(--group-header-font-color);
    border-radius: 6px;
}

.items-grid{
    display: flex;
    flex: 1 1 auto;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: content;
    position: relative;
}

.nav-bar-button{
    margin: 5px;
    height: 20px;
    background-color: var(--nav-bar-button-color);
}

.vertical-button-container{
    width: 0px;
}

.vertical-button{
    position:relative;
    width: 15px;
    height: 30px;
    transform: translateX(-40px) translateY(-50%);
    top: 50%;
    margin: 0;
    padding: 0;
}


.item-display-action {
    width: 30px;
    height: 30px;
}

.item-button-container {
  display: flex;
  flex-direction: row-reverse;
  align-items:right;
}

.item-header-row{
    text-align: left;
}

/*----------id----------*/
#base-container{
    display: flex;
    flex-flow:column;
    height: 100%;
    overflow:hidden;
}

#image-upload-container.show {
    pointer-events: auto;
    opacity: 1;
    z-index: 1001;
}

#item-image-slideshow{
    display: flex;
    width: 800px;
    height: 600px;
    overflow: hidden;
}

#slideshow-left-button,
#slideshow-right-button
{
    width: 25px;
}

#nav-bar{
    display: flex;
    justify-content: right;
    margin: 3px;
    height: 30px;
    background-color: var(--nav-bar-color);
    position: relative;
}



#content-container{
    display: flex;
    flex: 1 1 auto;
    flex-flow: row;
    position: relative;
    margin: 3px;
    overflow:hidden;

}

#groups-container{
    flex-flow: column;
    display: flex;
    flex: 1;
    overflow:hidden;
}

#groups-content-container-wrapper{
    flex-flow: column;
    display: flex;
    flex: 1;
    scrollbar-color: var(--scroll-bar-thumb-color) var(--scroll-bar-background-color);
    overflow-y: auto;
}

#groups-content-container{
    display: flex;
    flex-flow: column;
    min-height: 100%;
}

#notes-container.collapsed{
    max-width: 0;
    /* transition: max-width 0.5s ease-in-out; */
}

#notes-container{
    display: flex;
    flex-flow: column;
    flex: 0 1 350px;
    position: static;
    overflow:hidden;
    max-width: 350px;
    /* transition: max-width 0.5s ease-in-out; */
}

#notes-content-container{
    display: flex;
    flex-flow: column;
    overflow-y:auto;
    scrollbar-color: var(--scroll-bar-thumb-color) var(--scroll-bar-background-color);
}

#groups-header{
    display: flex;
    justify-content: left;
}


#avatar-animation{
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
}

#stats-header{
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
}

#stats-body{
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
}

/* modal css */

#notification-modal-container.show{
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

#notification-modal-container{
    position: absolute;
    bottom: 40px;
    right: 70px;
    width: 250px;
    height: 100px;
    margin: 0;
    padding: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
}
#notification-modal-content{
    width: 100%;
    height: 100%;
    display: flex;
    margin: 5px;
    padding: 0;
    flex-direction: column;
    border-radius: 5px;
    background-color: var(--notification-background-color);
}

#notification-header-name{
    margin: 0;
    padding: 15px;
    height: 25px;
}
#notification-text-content{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
#notification-pretext{
    width: 35px;
    height: 25px;
}
#notification-text{
    height: 25px;
}

.modal-container {
    display: none;
    flex-direction: column;
    color: var(--modal-font-color);
    display: flex;
    align-items:center;
    justify-content: center;
    justify-self: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.15s ease;
    width:fit-content;
    height: fit-content;
}

.modal-container.show {
    display: flex;
    pointer-events: auto;
    opacity: 1;
}

.modal-content {
  background-color: var(--modal-content-background-color);
  padding: 20px 20px;
  width: fit-content;
  height: fit-content;
  border-radius: 25px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  border: 1px solid var(--modal-content-border-color);
  display: flex;
  flex-direction: column;
}

.modal-header {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}


#group-input-description {
  height: 100px;
  width: 100%;
}

.item-view-action {
    width: 25px;
    height: 25px;
    margin: 0;
    padding: 0;
}

.image-slideshow{
  justify-content: center;
  margin: 5px;
  width: 800px;
  height: 600px;
}

.image-slideshow-action {
    width: 25px;
    height: 25px;
}

.image-action {
    width: 30px;
    height: 30px;
}

.slideshow-button-container{
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 100%;
}

#note-modal-container{
    width: 400px;
    height: 400px;
}
#note-content{
    display: flex;
    width: 400px;
    height: 350px;
    flex-direction: column;
}

#notes-button-header{
    display: flex;
}

#notes-header{
    display: flex;
    margin-top:20px;
    margin-bottom:10px;
    white-space: nowrap;
}

.note-container.selected {
    border: 4px solid var(--note-selected-border-color);
}

.note-container{
    margin: 7px;
    display: flex;
    flex-direction: column;
    background-color: var(--note-container-background-color);
    color: var(--note-container-font-color);
}

.note-header{
    background-color: var(--note-header-background-color);
    padding: 5px;
}

.note-content{
    padding: 5px;
    display: flex;
    flex-direction: column;
    max-height: 300px;
    overflow-y: auto;
    scrollbar-color: var(--scroll-bar-thumb-color) var(--scroll-bar-background-color);
}

.modal-row-input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.modal-button-container {
  display: flex;
  flex-direction: row-reverse;
  align-items:right;
  padding: 5px;
  margin: 5px;
}


.modal-input {
    border: 1px solid var(--modal-border-color);
    background-color: var(--modal-input-background-color);
    border-radius: 3px;
    padding: 5px;
    width: 100%;
    color: var(--modal-input-font-color);
}

.modal-textarea{
    border: 1px solid var(--modal-border-color);
    background-color: var(--modal-textarea-background-color);
    border-radius: 3px;
    padding: 5px;
    width: 100%;
    height: 80px;
    overflow-y: auto;
    scrollbar-color: var(--scroll-bar-thumb-color) var(--scroll-bar-background-color);
    color: var(--modal-textarea-font-color);
    resize: none;
}

.modal-input-header {
  padding: 0px;
  margin: 15px 5px;
}