{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Inventory</title>
    <link rel="stylesheet" type="text/css" href="{% static 'my_inventory/styles.css' %}">
</head>
<body>
    <!-- main page content -->
    <div class="container" id="base-container">
        <div class="interactive-bar" id="nav-bar">
            <button class="nav-bar-button" id="nav-bar-button-help">help</button>
            <button class="nav-bar-button" id="nav-bar-button-about">about</button>
            <button class="nav-bar-button" id="nav-bar-button-donate">donate</button>
        </div>
        <div class="container" id="content-container">
            <div class="container" id="groups-container">
                <div class="button-header" id="groups-header">
                    <button class="group-action" id="group-add">
                        <img class="button-icon" src="{% static 'my_inventory/assets/folder-plus.svg' %}" alt="add">
                    </button>
                    <button class="group-action" id="group-remove">
                        <img class="button-icon" src="{% static 'my_inventory/assets/folder-minus.svg' %}" alt="remove">
                    </button>
                    <button class="group-action" id="group-edit">
                        <img class="button-icon" src="{% static 'my_inventory/assets/pencil.svg' %}" alt="edit">
                    </button>
                    <button class="group-action" id="group-collapse">
                        <img class="button-icon" id="group-collapse-image" src="{% static 'my_inventory/assets/chevron-double-up.svg' %}" alt="collapse">
                    </button>
                </div>
                <div class="container" id="groups-content-container-wrapper">
                    <div class="container" id="groups-content-container"></div>
                </div>
            </div>
            <div class="vertical-button-container" id="notes-collapse-container">
                <button class="vertical-button" id="notes-collapse-button">
                        <img class="button-icon" id="notes-collapse-image" src="{% static 'my_inventory/assets/caret-right-fill.svg' %}" alt="collapse">
                </button>
            </div>
            <div class= "container" id="notes-container">
                <h4 class="header" id="notes-header">Notes & Reminders</h4>
                <div class="button-header" id="notes-button-header">
                    <button class="note-action" id="note-add">
                        <img class="button-icon" id="add-note-image" src="{% static 'my_inventory/assets/file-earmark-plus.svg' %}" alt="add">
                    </button>
                    <button class="note-action" id="note-remove">
                        <img class="button-icon" id="delete-note-image" src="{% static 'my_inventory/assets/file-minus.svg' %}" alt="remove">
                    </button>
                    <button class="note-action" id="note-edit">
                        <img class="button-icon" id="edit-note-image" src="{% static 'my_inventory/assets/pencil.svg' %}" alt="edit">
                    </button>
                    <button class="note-action" id="note-set-reminder">
                        <img class="button-icon" id="note-set-reminder-image" src="{% static 'my_inventory/assets/lightbulb.svg' %}" alt="reminder">
                    </button>
                </div>
                <div class="container" id="notes-content-container"></div>
            </div>
        </div>  
    </div>
    <!-- <div class="container" id="iframe-container">
        <div class="button-header" id="iframe-button-header">
            <button class="iframe-action" id="iframe-button-close">X</button>
        </div>
        <iframe id="iframe-forms">
        </iframe>
    </div> -->
    
    <!-- modals -->
    <div class="modal-container" id="group-modal-container">
        <div class="modal-content" id="group-modal-content">
            <div class="modal-header" id="group-modal-header">
                <h1 class="modal-header-value" id="group-header-name">Group</h1>
            </div>
            <h4 class="modal-input-header">Name</h4>
            <input class="modal-input"
                type="text"
                id="group-input-name"
                name="name"
                required
                minlength="0"
                maxlength="200"
                size="50"/>
            <h4 class="modal-input-header">Category</h4>
            <input class="modal-input"
            type="text"
            id="group-input-category"
            name="category"
            size="50"/>
            <h4 class="modal-input-header">Description</h4>
            <textarea class="modal-textarea"
                id="group-textarea-description"
                name="description">
            </textarea>
            <div class="modal-button-container" id="group-button-container">
                <button class="modal-action" id="group-modal-cancel">Cancel</button>
                <button class="modal-action" id="group-modal-save">Save</button>
            </div>
        </div>
    </div>
    <div class="modal-container" id="item-modal-container">
        <div class="modal-content" id="item-modal-content">
            <div class="modal-header" id="item-modal-header">
                <h1 class="modal-header-value" id="item-header-name">Item</h1>
            </div>
            <h4 class="modal-input-header">Name</h4>
            <input class="modal-input" 
                id="item-input-name"
                type="text"
                name="name"
                required
                minlength="0"
                maxlength="200"
                size="50"/>
            <h4 class="modal-input-header">Price</h4>
            <input class="modal-input"
            id="item-input-price"
            type="number"
            name="price"
            size="50"/>
            <h4 class="modal-input-header">Model Number</h4>
            <input class="modal-input"
            id="item-input-model-number"
            type="text"
            name="model-number"
            size="50"/>
          <h4 class="modal-input-header">Total Quantity</h4>
            <input class="modal-input"
            id="item-input-total-quantity"
            type="number"
            step="0.01"
            name="total-quantity"
            size="50"/>
          <h4 class="modal-input-header">Available Quantity</h4>
            <input class="modal-input"
            id="item-input-available-quantity"
            type="number"
            name="available-quantity"
            size="50"/>
          <h4 class="modal-input-header">Used Quantity</h4>
            <input class="modal-input"
            id="item-input-used-quantity"
            type="number"
            name="used-quantity"
            size="50"/>
          <h4 class="modal-input-header">Acquired Date</h4>
            <input class="modal-input"
            id="item-input-acquired-date"
            type="datetime-local"
            name="acquired-datetime"
            size="50"/>
          <h4 class="modal-input-header">Expire Date</h4>
            <input class="modal-input"
            id="item-input-expire-date"
            type="datetime-local"
            name="expire-datetime"
            size="50"/>
          <h4 class="modal-input-header">Lifespan (days)</h4>
            <input class="modal-input"
            id="item-input-lifespan"
            type="number"
            name="lifespan"
            size="50"/>
            <h4 class="modal-input-header">Description</h4>
            <textarea class="modal-textarea"
                id="item-textarea-description"
                name="description">
            </textarea>
            <div class="modal-button-container" id="item-button-container">
                <button class="modal-action" id="item-modal-cancel">Cancel</button>
                <button class="modal-action" id="item-modal-save">Save</button>
            </div>
        </div>
    </div>
    <div class="modal-container" id="image-upload-container">
        <div class="modal-content" id="image-upload">
            <div class="modal-header" id="image-upload-modal-header">
                <h1 class="modal-header-value" id="image-upload-header-name">Upload Image</h1>
            </div>
            <h4 class="modal-input-header">Name</h4>
            <input type="name" class="modal-input" id="image-name-input" placeholder="Image Name">
            <h4 class="modal-input-header">File</h4>
            <input type="file" class="modal-input" id="image-file-input" name="images" accept="image/*" multiple>
            <div class="modal-button-container" id="image-upload-button-container">
                <button id="image-upload-cancel">Cancel</button>
                <button id="image-upload-submit">Upload</button>
            </div>
        </div>
    </div>
    <div class="modal-container" id="item-view-modal-container">
        <div class="modal-content" id="item-view-modal-content">
            <div class="modal-button-container" id="item-view-button-container">
                <button class="item-view-action" id="item-view-button-exit">X</button>
            </div>
            <div class="modal-header" id="item-view-modal-header">
                <h1 class="modal-header-value" id="item-view-header-name">Item name</h1>
            </div>
            <div class="image-slideshow" id="item-image-slideshow"></div>
            <div class="slideshow-action-container">
                <span class="slideshow-button-container" id="item-slideshow-button-container">
                    <button class="image-slideshow-action" id="slideshow-left-button">&#60;</button>
                    <p class="modal-text" id="slideshow-index-text"></p>
                    <button class="image-slideshow-action" id="slideshow-right-button">&#62;</button>
                </span>
                <span class="image-button-container" id="item-image-button-container">
                    <button class="image-action" id="image-delete-button">
                        <img class="button-icon" src="{% static 'my_inventory/assets/trash3.svg' %}" alt="delete">
                    </button>
                </span>
            </div>
            
            <table class="content-table" id="item-cotent-table">
            <tr class="item-header-row" id="item-name-header-row">
                <th class="item-header" id="item-name-header">Name</th>
                <th class="item-header" id="item-price-header">Price</th>
                <th class="item-header" id="item-model-number-header">Model Number</th>
            </tr>
            <tr class="item-data-row" id="item-name-data-row">
                <td class="item-datacell" id="item-name-datacell">Name</td>
                <td class="item-datacell" id="item-price-datacell">Price</td>
                <td class="item-datacell" id="item-model-number-datacell">Model Number</td>
            </tr>
            <tr class="item-header-row" id="item-quantity-header-row">
                <th class="item-header" id="item-total-header">Total</th>
                <th class="item-header" id="item-available-header">Available</th>
                <th class="item-header" id="item-used-header">Used</th>
            </tr>
            <tr class="item-data-row" id="item-quantity-data-row">
                <td class="item-datacell" id="item-total-datacell">Total</td>
                <td class="item-datacell" id="item-available-datacell">Available</td>
                <td class="item-datacell" id="item-used-datacell">Used</td>
            </tr>
            <tr class="item-header-row" id="item-date-header-row">
                <th class="item-header" id="item-acquired-header">Acquired</th>
                <th class="item-header" id="item-expire-header">Expire</th>
                <th class="item-header" id="item-updated-header">Updated</th>
            </tr>
            <tr class="item-data-row" id="item-date-data-row">
                <td class="item-datacell" id="item-acquired-datacell">Acquired</td>
                <td class="item-datacell" id="item-expire-datacell">Expire</td>
                <td class="item-datacell" id="item-updated-datacell">Updated</td>
            </tr>
            </table>
            <h4 class="modal-header-value" id="item-view-header-Description">Description</h4>
            <textarea class="modal-textarea" id="item-view-description" readonly></textarea>
        </div>  
    </div>
    <div class="notification-container" id="notification-modal-container">
        <div class="notification-content" id="notification-modal-content">
            <h4 class="modal-header-value" id="notification-header-name">notification</h4>
            <div class="notification-text-content" id="notification-text-content">
                <span class="notification-pretext" id="notification-pretext"></span>
                <span class="notification-text" id="notification-text"></span>
            </div>
        </div>
    </div>
    <div class="modal-container" id="note-modal-container">
        <div class="modal-content" id="note-content">
            <div class="modal-header" id="note-modal-header">
                <h1 class="modal-header-value" id="note-header-name">Note</h1>
            </div>
            <h4 class="modal-input-header">Name</h4>
            <input type="name" class="modal-input" id="note-modal-input-name" placeholder="Note Name">
            <h4 class="modal-input-header">Text</h4>
            <textarea class="modal-textarea" id="note-modal-input-text" name="text"></textarea>
            <div class="modal-button-container" id="note-button-container">
                <button id="note-modal-cancel">Cancel</button>
                <button id="note-modal-save">Save</button>
            </div>
        </div>
    </div>
    <div class="modal-container" id="reminder-modal-container">
        <div class="modal-content" id="reminder-content">
            <div class="modal-header" id="reminder-modal-header">
                <h1 class="modal-header-value" id="reminder-header-name">Reminder
                    <span class="header-button-span" id="reminder-header-button-span">
                    <button class="reminder-action" id="delete-reminder">
                        <img id="delete-reminder" src="{% static 'my_inventory/assets/trash3.svg' %}" alt="delete">
                    </button>
                </span>
                </h1>
                
            </div>
            <div class="modal-row-input-container" id="reminder-radio-container">
                <label for="reminder-input-option-date">Date</label>
                <input type="radio" class="modal-input" id="reminder-input-option-date" name="reminder-option" value="Date">
                <label for="reminder-input-option-weekly">Weekly</label>
                <input type="radio" class="modal-input" id="reminder-input-option-weekly" name="reminder-option" value="Weekly">
            </div>
            <div class="modal-input-group-container" id="date-reminder-container">
                <div class="modal-input-group-container" id="date-reminder-date-container">
                    <label for="reminder-input-date">Date and Time</label>
                    <input type="datetime-local" class="modal-input" id="reminder-input-datetime">
                    <div class="modal-row-input-container" id="reminder-reoccurring-container">
                        <label for="reminder-input-reoccurring">Reoccurring</label>
                        <input type="checkbox" class="modal-input" id="reminder-input-reoccurring">
                    </div>
                    <label for="reminder-input-reoccurring">Reminder Interval (days)</label>
                    <input type="number" class="modal-input" id="reminder-input-reoccurring-interval">
                </div>
            </div>
            <div class="modal-input-group-container" id="weekly-reminder-container">
                <div class="modal-input-group-container" id="weekly-reminder-time-container">
                    <label for="weekly-reminder-time-input">Time</label>
                    <input type="time" class="modal-input" id="weekly-reminder-input-time">
                </div>
                <div class="modal-row-input-container" id="weekly-reminder-day-select-container">
                    <input type="checkbox" class="modal-input" id="weekly-reminder-input-monday">
                    <label for="weekly-reminder-monday-input">Monday</label>
                    <input type="checkbox" class="modal-input" id="weekly-reminder-input-tuesday">
                    <label for="weekly-reminder-tuesday-input">Tuesday</label>
                    <input type="checkbox" class="modal-input" id="weekly-reminder-input-wednesday">
                    <label for="weekly-reminder-wednesday-input">Wednesday</label>
                    <input type="checkbox" class="modal-input" id="weekly-reminder-input-thursday">
                    <label for="weekly-reminder-thursday-input">Thursday</label>
                    <input type="checkbox" class="modal-input" id="weekly-reminder-input-friday">
                    <label for="weekly-reminder-friday-input">Friday</label>
                    <input type="checkbox" class="modal-input" id="weekly-reminder-input-saturday">
                    <label for="weekly-reminder-saturday-input">Saturday</label>
                    <input type="checkbox" class="modal-input" id="weekly-reminder-input-sunday">
                    <label for="weekly-reminder-sunday-input">Sunday</label>
                </div>
            </div>
            <div class="modal-button-container" id="reminder-button-container">
                <button id="reminder-cancel">Cancel</button>
                <button id="reminder-save">Save</button>
            </div>
        </div>
    </div>
<script>
    var csrftoken = "{{ csrf_token }}";
    var defaultImage = "{% static 'my_inventory/assets/default-image.webp' %}";
    var addGroup = "{% static 'my_inventory/assets/folder-plus.svg' %}";
    var removeGroup = "{% static 'my_inventory/assets/folder-minus.svg' %}";
    var addItem = "{% static 'my_inventory/assets/file-earmark-plus.svg' %}";
    var removeItem = "{% static 'my_inventory/assets/file-minus.svg' %}";
    var expandGroup = "{% static 'my_inventory/assets/chevron-double-down.svg' %}";
    var collapseGroup = "{% static 'my_inventory/assets/chevron-double-up.svg' %}";
    var pencil = "{% static 'my_inventory/assets/pencil.svg' %}";
    var uploadIcon = "{% static 'my_inventory/assets/upload-icon.svg' %}";
    var eye = "{% static 'my_inventory/assets/eye.svg' %}";
    var leftCaret = "{% static 'my_inventory/assets/caret-left-fill.svg' %}";
    var rightCaret = "{% static 'my_inventory/assets/caret-right-fill.svg' %}";
    var lightbulb = "{% static 'my_inventory/assets/lightbulb.svg' %}";
</script>
<script type="module" src="{% static 'my_inventory/script.js' %}"></script>
</body>


</html>
